.itemContainer {
  height: calc(100vh - 4rem);
  display: flex;
  position: relative;
}
.itemContainerConstraint{
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  gap: 2.5rem;
  flex-direction: row;
  align-items: center;
}
.blackGradient {
  background-image: linear-gradient(
    to right top,
    #070707,
    #131313,
    #1a1a1a,
    #222222,
    #2a2a2a,
    #2b2b2b,
    #2c2c2c,
    #2d2d2d,
    #272727,
    #212121,
    #1c1c1c,
    #161616
  );
}

/* PROJECT TITLE */

.itemTitleContainer {
  width: 30%;
}

.itemTitle{
  display: flex;
  flex-direction: column;
  padding-left: var(--space-40px);
  gap: 1.5rem;
  z-index: 5;
}

.itemNumber{
  font-size: var(--font-h3);
  font-weight: 300;
}

.title{
  font-size: var(--font-h1);
  font-weight: 600;
}

.description{
  font-size: var(--font-body);
  font-weight: var(--font-regular);
}

.titleWhite{
  order: 1;
}


.titleWhite .itemTitle {
  top: 50%;
  left: 0;
}

.titleWhite .itemTitle .itemNumber {
  color: var(--tertiaryGrey);
}

.titleWhite .itemTitle .title {
  color: var(--globalWhite);
}

.titleWhite .itemTitle .description {
  color: var(--tertiaryGrey);
}

.titleBlack{
  order: 2;
}

.titleBlack .itemTitle {
  top: 50%;
  right: 0;
}

.titleBlack .itemTitle .itemNumber {
  color: var(--primaryGrey);
}

.titleBlack .itemTitle .title {
  color: var(--primaryGrey);
}

.titleBlack .itemTitle .description {
  color: var(--primaryGrey);
}

.comingSoon {
  font-size: 1rem;
  font-weight: var(--font-semibold);
  color: #eb5757;
}

/* PROJECT IMAGE */

.itemImageContainer {
  width: 72%;

}
.imageLeft {
  order: 2;
}
.imageRight {
  order: 1;
}

.itemImageContainer img {
  object-fit: contain;
}

.mockup {
  width: 100%;
  height: 100%;
  transition: all 800ms;
}

.itemImageContainer:hover .mockup {
  transform: scale(1.08, 1.08);
}

.projectNamePortrait {
  letter-spacing: 0.5rem;
  color: #fff;
  opacity: 0.25;
  font-size: 0.75rem;
}
.rotateContainer {
  position: absolute;
  right: 2rem;
  top: 3rem;
  writing-mode: vertical-rl;
}

/* TABLETS */

@media only screen and (max-width: 770px) {
  .itemContainer {
    height: auto;
    flex-direction: column;
  }
  .itemContainerConstraint{
    flex-direction: column;
    gap:var(--space-16px);
  }
  .itemTitleContainer {
    height: auto;
    width: auto;
  }
  .itemNumber {
    left: 0.5rem;
  }
  .itemTitle {
    width: 60%;
    position: relative;
    top: auto;
    gap: 0.75rem;
    padding: var(--space-40px) var(--space-40px) 0 var(--space-40px);
    transform: translate(0, 0);
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
  }
  .itemImageContainer {
    padding: 0 var(--space-16px) var(--space-16px) var(--space-16px);
    width: auto;
  }
  .titleBlack{
    order:1
  }
  .imageLeft{
    order:2;
  }
}

/* MOBILES */

@media only screen and (max-width: 500px) {
  .itemTitle{
    width: auto;
  }
  .itemImageContainer {
    padding: 1rem;
  }
  .rotateContainer {
    display: none;
  }
}
