.aboutBackground {
  background-image: linear-gradient(
    to left bottom,
    #232323,
    #252525,
    #262626,
    #282828,
    #2a2a2a,
    #2a2a2a,
    #2a2a2a,
    #2a2a2a,
    #282828,
    #262626,
    #252525,
    #232323
  );
}
.aboutIntro {
  text-align: center;
  font-size: var(--font-h0);
  font-weight: var(--font-bold);
  color: var(--globalWhite);
  padding: 4rem 0;
  animation: onLoad 800ms;
}
.aboutContainer {
  max-width: 1100px;
  padding: 8.75rem 1rem 4rem 1rem;

  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 2fr;
  gap: var(--space-64px);
  animation-name: onLoadDelay02;
  animation-duration: 1200ms;
}

@keyframes onLoadDelay02 {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  20% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* IMAGE & SOCIAL LINKS */

/* IMAGE */

.profileImage {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.profileImageContainer {
  overflow: hidden;
  border-radius: var(--radius-large);
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.5));
}
.profileImageContainer img {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* SOCIAL LINKS */

.profileSocialContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.profileSocial {
  display: flex;
  flex-direction: row;
  gap: var(--space-16px);
  background: #232323;
  border: 1px solid #323232;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.5));
  padding: var(--space-16px);
  align-items: center;
  border-radius: var(--radius-large);
  transition: all ease-in 200ms;
}
.profileSocial:hover {
  background-color: #323232;
  transform: scale(105%);
}

.socialIcon {
  display: flex;
  align-items: center;
}
.socialIcon svg {
  fill: #a9a9a9;
  opacity: 0.4;
}
.iconText {
  display: flex;
  flex-direction: column;
  gap: var(--space-8px);
}
.iconTextTitle {
  line-height: 0.625rem;
  font-size: 0.875rem;
  font-weight: var(--font-regular);
  color: #a9a9a9;
  opacity: 0.8;
}
.iconTextDescription {
  line-height: 0.6875rem;
  font-size: 1rem;
  font-weight: var(--font-semibold);
  color: #a9a9a9;
}

/* ABOUT ME TEXT */

.aboutText {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-24px);
  font-weight: var(--font-regular);
  color: #a9a9a9;
}

.paragraph {
  font-size: 1rem;
  font-weight: var(--font-regular);
  color: #a9a9a9;
}

.aboutText h2 {
  font-size: var(--font-h4);
  color: #efefef;
  line-height: 120%;
}

/* TABLETS */

@media only screen and (max-width: 880px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .profileImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .profileSocialContainer {
    justify-content: space-between;
  }
  .profileSocial {
    height: 100%;
  }
}
/* TABLETS */
@media only screen and (max-width: 650px) {
  .profileImage {
    display: flex;
    flex-direction: column;
  }
}

/* MOBILE */

@media only screen and (max-width: 480px) {
  
  .profileSocial:hover {
    background-color: inherit;
    transform: inherit;
  }
  .aboutText {
    gap: 2rem;
  }
}
