.homeBG {
  overflow: hidden;
  background-color: #000
}

.homeContainer{
  width: fit-content;
  min-width: 80vw;
  max-height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.homeHeader {
  padding: 0 1.5rem;
  z-index: 99;
  position: absolute;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
  animation: onLoad 800ms;
}

.headerContainer {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-24px);
}

.imageContainer{
  max-width:50%;
  margin-left: auto;
}
.homeImage{
  object-fit: fit;
  margin-bottom: 4rem;
}
.homeImage img{
  width: 100%;
  height: 100%;
}

@keyframes onLoad {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes onLoadLine {
  0% {
    width:0;
    opacity: 0;
  }
  100% {
    width:225px;
    opacity: 1;
  }
}

.headerHello{
  line-height: 1.5rem;
  font-size: var(--font-h2);
  font-weight: var(--font-regular);
  color: var(--secondaryGrey);
}
.headerName {
  width: 100%;
  font-size: var(--font-h0);
  line-height: 3.125rem;
  font-weight: var(--font-bold);
  color: var(--globalWhite);
}

.line {
  width:225px;
  border-top: 1px solid #ccc;
  margin: 0;
  animation: onLoadLine 800ms;
}
.headerAbout {
  max-width: 40rem;
  font-size: var(--font-body);
  font-weight: var(--font-light);
  color: var(--tertiaryGrey)
}

/*---------------------*/

.sectionHeading .headerLine {
  background-color: #fff;
}

.sectionHeading h2,
.paragraphContent {
  color: #fff;
}

.header-container h1 {
  font-size: 4rem;
  margin-top: -1rem;
  color: #2e2e2e;
}

.header-title {
  width: 80%;
  margin: 3rem 0rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: normal;
  color: #2e2e2e;
}

/*---------------------*/
@media only screen and (max-width: 770px) {
  .headerHello{
    margin-bottom: -0.5rem;
  }
  .homeImage{
    opacity: .25;
    margin-top: 8rem;
  }
}
@media only screen and (max-width: 480px) {

  .homeContainer{
    max-height: calc(100vh + 3.5rem);
  }
  .headerContainer {
    gap: 1.5rem;
  }
  .homeHeadingText {
    gap: 1.5rem;
  }
  .imageContainer{
    max-width: 100% !important;
    margin: 0 !important;
  }

}
