.headerBackgroundGradient {
  height: 100vh;
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-image: linear-gradient(
    to right bottom,
    #5d4fff,
    #7a4fff,
    #934fff,
    #a84fff,
    #bc4fff
  );
}
.headerbackgroundImage {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  max-width: 100%;
  min-width: 1920px;
}

.headerContainer {
  height: 100vh;
  padding: 0rem 2rem;
  max-width: 60rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
.headerGreetingContainer {
  padding-top: 13rem;
}

.headerDots {
  position: absolute;
  right: 2rem;
  top: 14rem;
}

br {
  display: none;
}

.headingName,
.headingRole {
  font-size: 4rem;
  font-weight: 200;
  color: var(--globalWhite);
}
.scrollArrow {
  margin-top: 4rem;
  position: relative;
  flex: 1;
}
.dotText {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  color: var(--globalWhite);
  font-size: 1.25rem;
  font-weight: 200;
}
.verticalLine {
  border-left: 2px solid var(--globalWhite);
  height: calc(100% - 8.5rem);
  position: absolute;
  left: 0.3rem;
  top: 0.75rem;
}
.arrow {
  position: absolute;
  bottom: 4rem;
  left: -0.6rem;
  transform: scale(100%);
  cursor: pointer;
  transition: transform ease 300ms;
}
.arrow:hover {
  transform: scale(120%);
}
.headerContact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-end;
  position: absolute;
  bottom: 4.5rem;
  right: 2rem;
}
.emailAddress {
  color: var(--globalWhite);
  font-weight: 400;
}

.header-content {
  margin: auto 0 !important;
}

/* Last Containers */
.lastContainer {
  margin-bottom: 7.5rem !important;
}
/*---------------------*/

.about-me .sectionHeading .headerLine {
  background-color: #fff;
}

.about-me .sectionHeading h2,
.about-me .paragraph-content {
  color: #fff;
}

.header-container h1 {
  font-size: 4rem;
  margin-top: -1rem;
  color: #2e2e2e;
}

.header-title {
  width: 80%;
  margin: 3rem 0rem;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: normal;
  color: #2e2e2e;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.home-header-buttons {
  display: flex;
  gap: 1rem;
}

.aboutMeContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.paragraph-content {
  width: 60%;
}

.profileImage {
  width: 34%;
  position: absolute;
  right: 0;
  bottom: -4rem;
}
.paragraph-content p {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 300;
}

/*Contact Form*/
.contactContainer {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contactSocials {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.aboutBackgroundImage{
  position: absolute;
  z-index: -1;
  top:0;
}
.aboutDots{
  position: absolute;
  top: 4rem;
  right: 3rem;
  z-index: -1;
  transform: scale(120%);
}
/*---------------------*/

@media only screen and (max-width: 480px) {
  .contactContainer {
    max-width: 100%;
  }
  .headerGreetingContainer {
    margin: auto 0;
  }
  .headingName,
  .headingRole {
    font-size: 2rem;
    text-align: center;
  }
  br {
    display: block;
  }
  .verticalLine{
    display: none;
  }
  .scrollArrow{
    display: flex;
    justify-content: center;
  }
  .dotText {
    font-size: 1rem;
    position: absolute;
    bottom: 10rem;
  }
  .dotText svg{
    display: none;
  }
  .headerDots {
    right: 0;
    left: 0;
    top: -1.5rem;
    margin: auto;
    transform: scale(80%);
  }
  .arrow{
    transform: scale(150%);
    right: 0;
    left: 0;
    bottom: 6rem;
    margin: auto;
  }
  .headerContact{
    display: none;
  }
  .contactContainer {
    flex-direction: column;
  }
  .header-background {
    height: 100vh;
  }
  .header-title {
    margin: 2rem 0rem !important;
    font-size: 1rem;
  }

  .my-work .sectionHeading {
    padding: 0rem 1rem;
  }

  .my-work-container h2 {
    padding-left: 1rem;
  }

  .header-container,
  .container {
    padding: 0 1rem;
  }
  .workItemButton {
    padding-top: 2rem;
    display: block;
  }
  .aboutMeContainer {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  .profileImage {
    position: relative;
    width: 80%;
    left: -1rem;
  }
  .aboutDots{
    right: 0;
    left: 0;
    bottom: 14rem;
    top: auto;
    margin: auto;
  }
  .paragraph-content {
    width: 100%;
  }
  .page-body {
    width: 100%;
    padding: 0 0.5rem;
  }
}
