.subHeading {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.finalSolutionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.process-image img {
  width: 100%;
}

/* ---------- Project Header ---------- */
.navContainer{
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: fixed;
  left: 1.5rem;
  top: 1.5rem;
}

.homeButton{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--primaryGrey);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 0.75rem 1rem 0.75rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--globalWhite);
  cursor: pointer;
  transition: transform ease 300ms;
  font-size: 0.875rem;
}
.homeButton:hover{
  transform: scale(105%);
}

.projectHeading{
  line-height: 2.5rem;
  text-align: center;
  margin: 4rem 0 7.5rem 0;
  font-size: var(--font-h0);
}

.headerImage img{
  width: 100%;
  object-fit: contain;
}

.projectDetails{
  gap:2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--secondaryGrey)
}

.details h4{
  color: var(--primaryGrey);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* ---------- Project Text ---------- */


.process-header svg{
  fill: var(--primaryPurple)
}

.processImage{
  max-width: 60rem;
  margin: 0 auto;
}
.processImage img{
  width: 100%;
  object-fit: contain;
  vertical-align: middle;
}
.projectSolution {
  color: #fff;
}
.projectProcessContainer{
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap:2rem;
}

.processHeader {
  font-size: var(--font-h2);
  margin-bottom: 2rem;
  color: var(--primaryGrey);
}
.processSubHeader{
  font-size: var(--font-h3);
  font-weight: var(--font-medium);
  color: var(--secondaryGrey);
}

.processText {
  white-space: pre-line;
  vertical-align: bottom;
  font-size: 1rem;
  color: var(--secondaryGrey);
  line-height: 1.75rem;
}
.process-textSolution {
  white-space: pre-line;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}
.moreProjectsContainer{
  padding-bottom: 4rem;
}

.projectImage img {
  width: 100%;
  object-fit: cover;
}
.moreProjectsTitle{
  margin-bottom: 4rem;
}
/* TABLET */
@media only screen and (max-width: 770px) {

.processContainer{
  flex-direction: column;
  gap: 1rem;
}
.processText{
  width:100%;
}
}
/* MOBILE */
@media only screen and (max-width: 480px) {
  .navContainer{
    left: 1rem;
    top: 1rem;
  }
  .homeButton{
    padding: 0.75rem;
    border-radius: 0.75rem;
  }

  .projectNav{
    display: none;
  }

  .projectDetailsContainer{
    flex-direction: column;
  }
  .headerImage img{
    margin-bottom: 2rem;
  }
  .projectHeaderInner{
    padding: 0 1rem;
  }
  .projectImages {
    flex-direction: column;
  }
  .processContainer{
    width: calc(100% - 4rem) !important;
  }
  .projectDetails{
    flex-direction: column;
  }
}
