.footer {
  width: 100%;
  background-color: #f2f2f2;
}

.footerContainer {
  padding: 4rem 2rem 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  gap: 2rem;
  display: flex;
}

.footerContactSocials{
  display: flex;
  flex-direction: row;
  gap: var(--space-40px);
}

.footerLinkContainer, .footerEmailContainer{
  display: flex;
  flex-direction: column;
  gap: var(--space-16px);
}

.footerHeading{
  color:var(--primaryGrey);
  font-size: 1rem;
  font-weight: var(--font-semibold);
  padding-bottom: var(--space-8px);
}

.footerLink{
  font-weight: var(--font-medium);
  text-decoration: none;
  color: #828282;
  line-height: 12px;
}

.footerLink:hover{
  color: var(--primaryGrey);
}
.email{
  font-weight: var(--font-medium);
  line-height: 12px;
  color: #828282;
}

.email:hover{
  color:var(--primaryGrey);
}

.footerMadeby {
  font-size: 0.75rem;
  padding-top: var(--space-64px);
  padding-bottom: 4rem;
  text-align: center;
  color: #828282;
  font-weight: var(--font-medium);
}
.footerMadeby p{
  font-size: 1rem;
}

@media only screen and (max-width: 650px) {
  .footerContainer {
    flex-direction: column;
    gap:2rem;
    align-items: center;
  }
  .footerLogo{
    height:50px;
    width:80px;
  }
}
