.workitems {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.workitem-container {
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  transition: box-shadow 1s ease-in-out;
  border-radius: 1rem;
  transition: transform 0.5s;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.workitem-container:after {
  content: "";
  border-radius: 1rem;
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.comingSoonContainer{
  text-decoration: none;
  background-color: #eee;
  border-radius: 1rem;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.workitem-container:hover {
  -webkit-transform: scale(1.05);
  cursor: pointer;
}

.workitem-container:hover::after {
  opacity: 1;
}

.project-image {
  width: 40%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.workitem-content {
  bottom: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translateY(0.5rem);
  transition: transform 2s;
  padding: 1rem 4rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.workitem-container h4 {
  font-size: 1.25rem;
  color: #4f4f4f;
}

Link {
  text-decoration: none;
}
.workitem-content p {
  color: #4F4F4F;
  font-size: 1.25rem;
}

.viewMore{
margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .workitem-container, .comingSoonContainer {
    display: block;
    padding-bottom: 2rem;
  }

  .project-image {
    width: 100%;
  }

  .workitem-content {
    padding: 1.5rem 1.5rem;
  }
}
