:root {

  /* COLOURS */

  --primaryGrey: #333333;
  --secondaryGrey: #4f4f4f;
  --tertiaryGrey: #e0e0e0;
  --backgroundGrey: #fafafa;
  --globalWhite: #ffffff;

    /* FONTS */

  --font-body: clamp(1.25rem, .25vw + 1rem, 1.5rem);
  --font-button: clamp(0.875rem, .25vw + 1rem, 1.5rem);
  --font-h0: clamp(3rem, .5692rem + 8.238vw, 6rem);
  --font-h1: clamp(1.5rem, .5692rem + 2.238vw, 2.75rem);
  --font-h1-display: clamp(2rem, 1.301rem + 2.449vw, 3.5rem);
  --font-h2: clamp(1.5rem, 1.0982rem + 1.7143vw, 2.5rem);
  --font-h3: clamp(1.25rem, 1.1837rem + .8163vw, 2rem);
  --font-h4: clamp(1.25rem, 1.1837rem + .8163vw, 1.5rem);

  --font-bold: 600;
  --font-semibold: 500;
  --font-medium: 400;
  --font-regular: 300;
  --font-light: 200;

  /* SPACE */
  
 --space-8px: 0.5rem;
 --space-12px: 1.5rem;
 --space-16px:1rem;
 --space-24px: 1.5rem;
 --space-32px: 2rem;
 --space-40px: 2.5rem;
 --space-64px: 4rem;

   /* RADIUS */

--radius-small: 0.25rem;
--radius-medium: 0.5rem;
--radius-large:1rem;

}

body,
html {
  overflow: auto !important;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------- Typography ---------- */
h1,
h2,
h3,
h4,
p,
a,
button {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
button {
  font-weight: 400;
  font-size: 1rem;
}

h4 {
  font-size: 1rem;
  line-height: 0.75rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1rem;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 3rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}
b {
  font-weight: 600;
}
a{
  text-decoration: none;
}
.primaryColor {
  color: var(--primaryPurple) !important;
}

.primaryGreyColor {
  color: var(--primaryGrey) !important;
}

.disabledGreyColor {
  color: var(--tertiaryGrey) !important;
}

/* ---------- Containers ---------- */

.containerPlain {
  padding: 4rem 1rem;
  max-width: 60rem;
  margin: 0 auto;
  position: relative;
}

.colouredBackground {
  overflow-x: hidden;
  margin: 0 auto;
  z-index: -2;
  position: relative;
  background-image: linear-gradient(
    to right top,
    #2e3192,
    #0058b6,
    #007ed4,
    #00a3ec,
    #1bc8ff
  );
}

.greyBackground {
  margin: 0 auto;
  background: var(--backgroundGrey);
}

/* ---------- Buttons ---------- */

.roundButton {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
}

.linkButton {
  color: #2997ff;
  font-size: var(--font-button);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
}

.linkButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkButton svg {
  fill: #2997ff;
  margin-bottom: 0.1rem;
}

.linkButton:hover > svg{
  animation: arrowBounce 400ms ;
}

@keyframes arrowBounce {
  0% {
    transform: translateX(0);
  }
  50%{
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0);
  }

}
.hoverBar{
  width: 100%;
  height: 2px;
  border-radius: 1rem;
  background: #2997ff;
  visibility: hidden;
}

.linkButton:hover .hoverBar{
  visibility: visible;
}

.secondaryButton {
  border: 2px solid var(--globalWhite);
  background: none;
  color: var(--globalWhite);
  transform: scale(100%);
  transition: transform ease 300ms;
}

.secondaryButton:hover {
  transform: scale(105%);
}

.primaryButton {
  background: var(--primaryGrey);
  color: var(--globalWhite);
  transform: scale(100%);
  transition: transform ease 300ms;
}

.primaryButton:hover {
  transform: scale(105%);
}

/* ---------- Other ---------- */

.pageHeadingWhite {
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
}

.pageHeadingGrey {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--primaryGrey);
  margin: 6rem 0;
}

.pageHeadingPurpleSmall {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--primaryPurple);
}

@media only screen and (max-width: 480px) {
  .roundButton{
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
}
