:root{
  --primaryPurple: #2A58AF;
  --secondaryPurple: #E7E5FF;
  --tertiaryPurple: #F7F6FF;
  --pink: #BD4FFF;
  --primaryGrey: #333;
  --secondaryGrey: #4F4F4F;
  --tertiaryGrey: #E0E0E0;
  --backgroundGrey: #FAFAFA;
  --globalWhite: #FFF;

}

body,
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  /* overflow-x: hidden; */
  width: 100%;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------- Typography ---------- */
h1,
h2,
h3,
h4,
p,
a,
button {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}
button{
  font-weight: 400;
  font-size: 1rem;
}

h4 {
  font-size: 1rem;
  line-height: 0.75rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1rem;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 3rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-weight: 400;
}
b {
  font-weight: 600;
}

.primaryColor{
  color: var(--primaryPurple) !important;
}

.primaryGreyColor{
  color: var(--primaryGrey) !important
}

.disabledGreyColor{
  color: var(--tertiaryGrey) !important
}

/* ---------- Containers ---------- */

.containerPlain {
  padding: 4rem 1rem;
  max-width: 60rem;
  margin: 0 auto;
  position: relative;
}

.colouredBackground {
  overflow-x: hidden;
  margin: 0 auto;
  z-index: -2;
  position: relative;
  background-image: linear-gradient(
    to right top,
    #2e3192,
    #0058b6,
    #007ed4,
    #00a3ec,
    #1bc8ff
  );
}

.greyBackground{
  margin: 0 auto;
  background: var(--backgroundGrey)
}

/* ---------- Buttons ---------- */

.roundbutton {
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
}

.secondaryButton {
  border: 2px solid var(--globalWhite);
  background: none;
  color: var(--globalWhite);
  transform: scale(100%);
  transition: transform ease 300ms;
}

.secondaryButton:hover {
  transform: scale(105%);
}

.primaryButton {
  background: var(--primaryGrey);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  color: var(--globalWhite);
  transform: scale(100%);
  transition: transform ease 300ms;
}

.primaryButton:hover {
  transform: scale(105%);
}

/* ---------- Other ---------- */

.pageHeadingWhite {
  font-weight: 600;
  font-size: 4rem;
  color: #fff;
}

.pageHeadingPurple {
  font-weight: 600;
  font-size: 4rem;
  color: var(--primaryPurple);
  margin-bottom: 4rem;
}

.pageHeadingGrey {
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--primaryGrey);
  margin: 6rem 0;
}

.pageHeadingPurpleSmall{
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--primaryPurple);
}

@media only screen and (max-width: 480px) {
  .pageHeadingPurpleSmall{
    font-size: 2rem;
  }
}
